
/* ELEMENTS */

h1 {
    text-align: center;
    color: crimson;
    background-color: goldenrod;
}

p {
    text-align: center;
    color: crimson;
}

img {
    text-align: center;
}

/* CLASSES */
.button-container, .image-container {
    text-align: center;
}

/* IDs */
#generate {
    color: goldenrod;
    border-color: crimson;
    text-align: center;
    margin: 10px;
}

/* DESCENDANT */
#content p {
    text-align:center;
    color: goldenrod;
    background-color: rgba(201, 201, 201, 0.096);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    padding: 1%;
    margin: 1.5%;
}

/* HOVER EFFECT */
a:hover {
    background-color: goldenrod;
}

a {
    color: crimson;
}